<header class="header">
    <div class="logo">
        <div class="first-box">
            <div class="logo-div">
                <img style="height: 100%;" src="../../../assets/New POlaris Logo 1 1.png" alt="">
            </div>
            <div class="header-text">
                <h2>GEFU Management Portal</h2>
            </div>
        </div>
        <div class="second-box">
            <div class="welcome">
                <p>Welcome, <span style="font-weight: bold;">{{currentUser}}</span></p>
                <p>Last login: <span style="margin-right: 3px;">{{date}}</span><span> {{time}}</span> </p>
            </div>
            <div class="log-out-btn">
                <button class="btn-danger">Logout</button>
            </div>
        </div>
    </div>
  </header>
  